body {
  line-height: 1, 3px;
  font-family: sans-serif;
}

.product {
  border: 5px solid black;
}

.product-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #777;
}
.more-info:link {
  color: black;
}

.more-info:visited {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

.more.info:active {
  text-decoration: none;
}

.details-title {
  font-size: 16px;
  text-transform: uppercase;
}

.details-list {
  list-style: square;
}

.add-cart {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
