* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1, 3px;
  font-family: sans-serif;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.sale {
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 7px 15px;
  /*width: 40px;
  text-align: center; */
  position: absolute;
  top: -17px;
  left: -38px;
}

.short-text {
  margin-bottom: 10px;
}

.more-info:link {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:visited {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

.more.info:active {
  text-decoration: none;
}

.color-black {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: blue;
  height: 22px;
  width: 22px;
}

.color-red {
  background-color: red;
  height: 22px;
  width: 22px;
}

.color-yellow {
  background-color: yellow;
  height: 22px;
  width: 22px;
}

.color-green {
  background-color: green;
  height: 22px;
  width: 22px;
}

.color-braun {
  background-color: brown;
  height: 22px;
  width: 22px;
}

.details-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list-item {
  margin-bottom: 10px;
}

.add-cart {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}

.short-text {
  margin-bottom: 10px;
}

.box-2 {
  flex: 1;
}

.box-3 {
  padding: 10px 10px;
  flex: 1;
}

/*FLEXBOX*/

.container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.colors {
  display: flex;
  gap: 10px;
  align-items: center;
}
